html,
body {
	font-family: Arial;
	color: gray;
	margin: 0;
	padding: 0;
	height: 100%;
}
a {
	color: navy;
	text-decoration: none;
}
img {
	width: 200px;
}
p span {
	font-weight: normal;
}
.header {
  text-align: center;
	top: 0px;
	width: 100%;
	height: 30px;
	padding-top: 55px;
	font-size: 20px;
	z-index: 10;
}
.pages {
	display: block;
	text-align: center;
}
.navbutton{
	padding-left: 20px;
	padding-right: 20px;
	margin: 5px;
	display: inline-block;
}
.aboutblock{
	display: block;
	text-align: center;
	margin-top: 10px;
}
.aboutimage{
	display: inline-block;
}
.abouttext{
	display: inline-block;
	text-align: left;
	width: 150px;
	margin-left: 10px;
	font-size: 12px;
	vertical-align: top;
}
.gallery{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.galleryimage {
	display: inline-block;
	margin: 10px;
}
.footer {
	position: absolute;
	font-size: 8px;
	bottom: 0px;
	text-align: center;
	width: 100%
}
