html,
body {
	font-family: Arial;
	color: gray;
	margin: 0;
	padding: 0;
	height: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
}
p span {
	font-weight: normal;
}
.header {
	display: block;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 120px;
}
.pages {
	display: block;
	text-align: center;
}
.navbutton{
	padding-left: 20px;
	padding-right: 20px;
	margin: 5px;
	display: inline-block;
}
.icons{
	display: block;
	text-align: center;
	padding: 12px;
	margin-bottom: 50px;
}
.socialicon{
	display: inline-block;
	font-size: 20px;
	margin-left: 12px;
	margin-right: 12px;
}
.socialicon:hover{
	color: forestgreen;
	cursor: pointer;
}
.aboutblock{
	display: block;
	text-align: center;
	margin-top: 10px;
}
.aboutimage{
	display: inline-block;
	width: 400px;
}
.abouttext{
	display: inline-block;
	text-align: left;
	width: 150px;
	margin-left: 10px;
	font-size: 12px;
	vertical-align: top;
}
.gallery{
	display: grid;
	grid-template-columns: auto auto auto;
	margin-left: auto;
	margin-right: auto;
	grid-gap: 10px;
	justify-content: center;
}
.galleryimage {
	object-fit: cover;
	width: auto;
	height: 200px;
	max-width: 260px;
}
.footer {
	position: absolute;
	font-size: 8px;
	bottom: 0px;
	text-align: center;
	width: 100%
}
