html,
body {
	font-family: 'Montserrat', sans-serif;
	color: gray;
	margin: 0;
	padding: 0;
	height: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
}
p span {
	font-weight: normal;
}
.header {
	display: block;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	margin-top: 120px;
}
.pages {
	display: block;
	text-align: center;
}
.navbutton{
	padding-left: 20px;
	padding-right: 20px;
	margin: 5px;
	display: inline-block;
}
.title{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	margin-top: 120px;
	text-align: center;
}
.titleimg {
	width: 600px;
	display: inline-block;
}
.navbutton:hover{
	color: forestgreen;
}
.icons{
	display: block;
	text-align: center;
	padding: 12px;
	margin-bottom: 50px;
}
.socialicon{
	display: inline-block;
	position: relative;
	font-size: 18px;
	margin-left: 12px;
	margin-right: 12px;
}
.socialicon:hover{
	color: forestgreen;
	cursor: pointer;
}
.aboutblock{
	display: block;
	text-align: center;
	margin-top: 10px;
}
.aboutimage{
	display: inline-block;
	width: 400px;
}
.abouttext{
	display: inline-block;
	text-align: left;
	width: 150px;
	margin-left: 10px;
	font-size: 12px;
	vertical-align: top;
}
.gallery{
	display: grid;
	grid-template-columns: auto auto auto;
	margin-left: auto;
	margin-right: auto;
	grid-gap: 10px;
	justify-content: center;
}
.galleryimage {
	object-fit: cover;
	width: 260px;
	height: 200px;
	max-width: 260px;
	display: none;
}
.galleryimage:hover{
	cursor:pointer;
}

/*----------- Modal Content -----------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.92); /* Black w/ opacity */
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
}
.modal-content{
    animation-name: zoom;
    animation-duration: 0.4s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: .3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/*------------------------------------*/

.imagefilters{
	margin-right: 50px;
	margin-left: 50px;
	float: none;
}
.imagefilter{
	display: block;
	font-size: 12px;
	outline: none;
	border: none;
	background: none;
}

.footer {
	font-size: 9px;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	width: 100%
}
.imagecycler{
	text-align: center;
}
.cycleimage{
	max-width: 800px;
	max-height: 800px;
}
.cycleimage:hover{
	cursor:pointer;
}
.miniimages{
	display: inline-block;
	vertical-align: top;
}
.miniimage{
	display: block;
	object-fit: cover;
	width: 100px;
	height: 60px;
}
/*--------------- CONTACT PAGE ---------------- */
.socialtext{
	display: none;
	position: absolute;
	font-size: 16px;
	opacity: 0;
}
